.chic {
  height: 60px;
  width: 60px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 40%;
  border: 3px solid rgb(62, 62, 61);
}

.chic:active {
  transform: scale(0.8);
}

.camera {
  width: 360px;
  height: 720px;
  margin: 0 auto;
  object-fit: cover;
  transform: scaleX(-1);


}

video {
  width: 360px;
  height: 720px;
}